<h1>Applications</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Job Title</th>
      <th>Status</th>
      <th></th>
      <!-- <th colspan="1"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <% @job = Job.find(application.job_id) %>

      <tr>

          <% if application.user_id == current_user.id or current_user.admin %>
  
            <td><%= @job.title %></td>
            <% if application.seen %>
              <td>seen</td>
            <% else %>
              <td>not seen</td>
            <% end %>
            <td><%= link_to 'Show', application, class:"btn btn-secondary" %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path, class:"btn btn-dark" %>
